// Place all the styles related to the waffles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chatLog{
  height: 400px;
  width: 100%;
  border: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;

  .chat-line{

  }
}
#chatInput {
  width: 100%;
}